{% extends 'main/layout.html' %}

{% block title %}Востребованность{% endblock %}

{% block content %}
     <h1 class="mb-4">Востребованность для профессии Backend-разработчик</h1>
     <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">Динамика уровня зарплат по годам</h2>
            <div class="table-responsive mb-4">
                <table class="table table-bordered table-striped">
                    <thead class="table-light">
                        <tr>
                            <th>Год</th>
                            <th>Средняя З/П (руб.)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in salary_by_year %}
                        <tr>
                            <td>{{ row.year }}</td>
                            <td>{{ row.average_salary }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <canvas id="salaryByYearChart" class="mb-5"></canvas>
        </div>

        <div class="col-md-12">
            <h2 class="mb-3">Динамика количества вакансий по годам</h2>
            <div class="table-responsive mb-4">
                <table class="table table-bordered table-striped">
                    <thead class="table-light">
                        <tr>
                            <th>Год</th>
                            <th>Количество вакансий</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in vacancies_by_year %}
                        <tr>
                            <td>{{ row.year }}</td>
                            <td>{{ row.vacancies }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <canvas id="vacanciesByYearChart" class="mb-5"></canvas>
        </div>
{% endblock %}