{% extends 'main/layout.html' %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="wrapper">
    <h1 class="index-h">Кто такой Backend-разработчик?</h1>
    <img class="index-img rounded shadow mx-auto" src="/static/main/img/photomain.jpg" alt="Vacancy"
         width="700">
    <p>Бэкенд-разработчик — это программист, который отвечает за внутреннюю и вычислительную логику веб-сайта или
        веб-приложения, а также иного программного обеспечения и информационных систем. .</p>
    <p>Строго говоря, бэкенд бывает не только у веб-решений, он есть и у десктопа, и у мобильных приложений, т.к.
        по сути бэкенд — это всё, что относится к программно-аппаратной части сервиса.</p>
    <p>Бэкенд-разработчик создаёт компоненты и функции, которые доступны пользователю приложения или
        сайта через интерфейс. Проще говоря, бэкендеры — это программисты, которые разрабатывают всё то,
        что не видит и напрямую не трогает пользователь.</p>

    <h2 class="index-h">Чем занимается backend-разработчик?</h2>

    <p>Мы уже поняли, что backend-разработчик занимается программно-аппаратной частью сервиса.</p>

    <p>Кроме этого, backend-разработчик выполняет такого рода задачи:</p>

    <ul>
        <li><strong>Разработка серверной логики</strong>. Создание бизнес-логики приложения,
            которая обрабатывает запросы пользователей и выполняет нужные операции, такие как
            вычисления, преобразование данных или другие алгоритмы.
        </li>
        <li><strong>Работа с базами данных</strong>. Проектирование, настройка и оптимизация
            баз данных, создание запросов для извлечения и обновления данных. Бэкенд-разработчики
            используют реляционные (например, MySQL, PostgreSQL) или нереляционные (например, MongoDB) базы данных.
        </li>
        <li><strong>API и интеграции</strong>. Разработка и поддержка API (программных интерфейсов),
            которые обеспечивают взаимодействие между фронтендом и серверной частью. Это может включать
            создание RESTful API или GraphQL.
        </li>
        <li><strong>Обработка запросов и маршрутизация</strong>. Разработка системы маршрутизации для обработки
            HTTP-запросов от пользователей и отправки нужных ответов, например, на основе URL или метода запроса
            (GET, POST, PUT, DELETE и т.д.).
        </li>
        <li><strong>Безопасность</strong>. Реализация механизмов безопасности для защиты данных, таких как
            аутентификация и авторизация пользователей, шифрование данных, защита от атак (например, XSS, CSRF).
        </li>
        <li><strong>Масштабируемость и производительность</strong>. Оптимизация кода и инфраструктуры для повышения
            производительности и обеспечения возможности масштабирования приложения с увеличением числа пользователей
            или запросов.
        </li>
        <li><strong>Работа с облачными сервисами и DevOps</strong>. Использование облачных платформ
            (например, AWS, Google Cloud, Azure) для хостинга приложений, а также настройка процессов деплоя
            и автоматизации.
        </li>
        <li><strong>Тестирование и отладка</strong>. Написание тестов для проверки корректности работы серверной
            части, а также отладка и устранение ошибок, возникающих на сервере.
        </li>
    </ul>

    <h2 class="index-h">Важные личные качества</h2>
    <p>А теперь поговорим о важных личных качествах работника. Какие качества личности должны быть
        у backend-разработчика?</p>
    <ul>
        <li><strong>Ответственность</strong>. Действительно, на бэкендере лежит ответственность буквально за всё:
            чтобы данные сохранились, чтобы реляционные таблицы работали как надо, чтобы временные пояса учитывались,
            чтобы сайт был шустрым и т.д. И если кривая навигация от фронтендера приведёт к паре злобных вскриков
            пользователей, то ошибка бэкендера может стоить очень дорого — в прямом смысле
            (например, если бизнес-данные по какой-то причине перестанут сохраняться или не сработает разделение
            прав доступа в какой-нибудь CRM-системе).
        </li>
        <li><strong>Внимательность и внимание к мелочам</strong>. Опять же, мелочей в бэкенде не бывает, поэтому
            необходимо тщательно проектировать связность работы всех компонент и не упустить ничего.
        </li>
        <li><strong>Трудоспособность</strong>. Прокрастинация — опасный враг бэкендера, он должен уметь сосредоточенно
            работать, иногда в крайне сжатые сроки, поэтому «пилить код с ленцой» это, пожалуйста, в пет-проект
            или уже в состоянии тимлида (там других задач хватает).
        </li>
        <li><strong>Логическое мышление и аналитический склад ума</strong>.</li>
        <li><strong>Безопасность</strong>. Реализация механизмов безопасности для защиты данных, таких как
            аутентификация и авторизация пользователей, шифрование данных, защита от атак (например, XSS, CSRF).
        </li>
        <li><strong>Умение доводить дело до конца, нацеленность на результат</strong>. В бэкенде важен результат
            — корректно и ожидаемо работающее приложение.
        </li>
        <li><strong>Способность переключаться на макрозадачах</strong>. Нередко бывает, что нужно оставить код одной
            части проекта и реализовать довольно крупную функцию. Это непросто, потому что программист уже погружён
            в архитектуру и логику. Способность переключаться без особых проблем для задач — практически джедайская.
        </li>
        <li><strong>Навыки планирования и исполнения плана</strong>. Бэкенд любого проекта — это сборник разноплановых
            задач. И если вы единственный бэкендер проекта или у вас с коллегами слабо реализовано разделение труда,
            только планирование и спасёт от авралов, факапов и срыва дедлайнов. Жёсткое к себе и времени
            планирование — залог спокойной работы практически без переработок (которые у бэкендеров
            случаются чаще остальных).
        </li>
        <li><strong>Умение работать в команде</strong>. Вам нужно будет взаимодействовать с единой командой разработки
            единого же приложения, а значит, дискуссии, но не конфликты, рефакторинг, но не оскорбления,
            отстаивание своей позиции, но не бойкоты. Если злой интровертный бэкендер отлично сделает свою работу,
            закоммитит и умоет руки, его труд пользователи ещё долго не смогут оценить — потому что нужно «собирать»
            проект в составе всей команды, а не отгораживаться по принципу «к фронтенду ни ногой».
        </li>
    </ul>

    <h2 class="index-h">Где нужен backend-разработчик?</h2>
    <p>Как и в случае с фронтенд-разработкой, абсолютно везде, где есть сайт или приложение, которое в вебе
        взаимодействует с пользователем. Другое дело, что всем нужны бэкендеры разного уровня:
        в офисе условной социальной сети или крупного сайта объявлений бэкенд-разработчик обязан не просто
        иметь базовые навыки, но и работать с высокими нагрузками, микросервисной архитектурой и контейнеризацией
        (Docker, Kubernetes), знать системы мониторинга (типа Zabbix, Grafana),
        иметь навыки Scrum (опционально для конкретных компаний). А для небольшого интернет-магазина вполне
        достаточно связки PHP-Ajax-нужная СУБД-немного HTML, иногда и того меньше. Понятно, что и оплата труда,
        и требования к опыту также совершенно разные.
    </p>

    <h2 class="index-h">Средняя заработная плата</h2>
    <p>Информация о заработной плате взята с «GeekLink». Данные актуальны для 2024-2025 годов,
        вне зависимости от владения тем или иным стеком. </p>

    <div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th scope="col">Уровень специалиста</th>
                <th scope="col">Средняя заработная плата</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Младший (Junior)</td>
                <td>88 824 руб.</td>
            </tr>
            <tr>
                <td>Средний (Middle)</td>
                <td>221 301 руб.</td>
            </tr>
            <tr>
                <td>Старший (Senior)</td>
                <td>305 729 руб.</td>
            </tr>
            <tr>
                <td>Ведущий (Lead)</td>
                <td>421 632 руб.</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h2 class="index-h">Самые популярные языки программирования для backend-разработчика.</h2>
    <img class="index-img rounded shadow mx-auto" src="/static/main/img/languages.png" alt="Rate" width="750">

    <h2 class="index-h">Будущее backend-разработчика</h2>
    <p>Будущее бэкендера прорисовывается довольно чётко и перспективно.</p>
    <ul>
        <li>Стандартный путь внутри своего стека: junior с односложными задачами и запросами, middle с глубокими
            навыками программирования и отличным владением стеком, senior с проектированием, архитектурами,
            высокими нагрузками и прочим кубернетесом, team lead с управленческими навыками т.д.
            Это хороший корпоративный путь, внутри которого можно менять компании, проекты, отрасли,
            расти и быть востребованным.
        </li>
        <li>Переход на другой стек и выход из веба: нередко именно бэкенд-разработчики осваивают Java, С/С++ и
            уходят в «кровавый энтерпрайз», десктопные приложения, разработку средств разработки, нейросети,
            компьютерное зрение и т.д. Действительно, бэкендеру проще осваивать эти трудные технологии и ЯП.
        </li>
        <li>Переход в фуллстек-разработку: бэкендер ближе к фуллстеку и совершить такую трансформацию
            можно совершенно незаметно.
        </li>
        <li>Переход в DevOps, DevSecOps, информационную безопасность — когда знаешь веб-приложения изнутри
            как свои пять пальцев, этот путь оказывается логичным и весьма доходным.
        </li>
        <li>Переход на менеджерские позиции, если есть желание и склонность к управленческим задачам.</li>
        <li>Фриланс и своё программное агентство — для смелых и в меру азартных ребят. Можно неплохо зарабатывать
            на аутсорс-разработке (особенно если идти в сторону фуллстек-разработки).
        </li>
    </ul>

    <p class="authorship">Информация взята с сайта
        <a href="https://habr.com/ru/companies/ruvds/articles/488340/">Хабр</a></p>
</div>
</main>
</div>
{% endblock %}