{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Популярные навыки для Backend-разработчиков</h1>

    <form method="get" class="mb-4">
        <label for="year" class="form-label">Выберите год:</label>
        <select name="year" id="year" class="form-select" onchange="this.form.submit()">
            {% for year in years %}
                <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
        </select>
    </form>

    <h2 class="mb-3">ТОП-20 навыков за {{ selected_year }} год</h2>
    <div class="content-container">
        <div class="table-container">
            <table class="table table-bordered table-striped">
                <thead class="table-light">
                    <tr>
                        <th>Навык</th>
                        <th>Количество упоминаний</th>
                    </tr>
                </thead>
                <tbody>
                    {% for skill in skills_data %}
                    <tr>
                        <td>{{ skill.name }}</td>
                        <td>{{ skill.count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
