{% extends 'main/layout.html' %}

{% block title %}Вакансии{% endblock %}

{% block content %}
    <div class="container mt-4">
    <h1 class="mb-4">Последние вакансии для профессии Backend-разработчик</h1>

    <div class="row">
        <div class="col-md-12">
            <!-- Таблица с последними вакансиями -->
            <div class="table-responsive mb-4">
                <table class="table table-bordered table-striped">
                    <thead class="table-light">
                        <tr>
                            <th>Название вакансии</th>
                            <th>Описание</th>
                            <th>Навыки</th>
                            <th>Компания</th>
                            <th>Оклад</th>
                            <th>Регион</th>
                            <th>Дата публикации</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vacancy in vacancies %}
                        <tr>
                            <td>{{ vacancy.title }}</td>
                            <td>{{ vacancy.description }}</td>
                            <td>{{ vacancy.skills }}</td>
                            <td>{{ vacancy.company }}</td>
                            <td>{{ vacancy.salary }}</td>
                            <td>{{ vacancy.region }}</td>
                            <td>{{ vacancy.date_posted }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <canvas id="skills" class="mb-5"></canvas>
            </div>
            <canvas id="topSkillsChart" class="mb-5"></canvas>
        </div>
    </div>
{% endblock %}