<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
</head>
<body>
    <h1>Главная страница</h1>
    <p>Backend-программист — это специалист, который разрабатывает "невидимую" часть веб-приложений и сервисов, обеспечивая их стабильную работу, безопасность и взаимодействие с данными. Он создает серверную логику, управляет базами данных и интеграцией API, делая возможным всё, что скрыто за интерфейсом пользователя.</p>
</body>
</html>