{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="wrapper">
    <h1 class="index-h">Кто такой Backend-разработчик?</h1>
    <img class="index-img" src="/static/vacancies/img/index_main_img.png" alt="Backend-dev"
         width="700">
    <p>В веб-разработке есть два основных направления: фронтенд и бэкенд. Фронтенд — это все, с чем пользователь
        взаимодействует на сайте: меню, кнопки, баннеры, плашки, всплывающие окна и анимации. За работу интерфейса сайта
        отвечают фронтенд-разработчики.</p>
    <p>Бэкенд — это внутренняя часть сайта или приложения, которая находится на сервере и отвечает за бизнес-логику. К
        примеру, на сайте интернет-магазина бэкенд отвечает за хранение информации об остатке товаров, обработке
        заказов, платежах.</p>

    <h2 class="index-h">Давайте подробнее:</h2>

    <p>Бэкенд-разработчик — это специалист, который пишет код бизнес-логики приложения и связывает ее с базами
        данных для долгосрочного хранения информации. Также он подключает внешние сервисы и ресурсы.</p>

    <p>Представьте, что фронтендеру и бэкендеру нужно создать интернет-магазин для продажи книг. Первый собирает
        страницы сайта по макету от дизайнера, добавляет фильтры для поиска и возможность закидывать товары в
        «Избранное» и корзину.</p>

    <p>Бэкенд-разработчик работает с несколькими базами данных. В одной он хранит список книг, которые есть наличии. В
        другой — информацию о клиентах, их фамилию, имя, отчество, адреса и номера карт.</p>

    <p>Когда посетитель заходит на главную магазина и вбивает в поиск: «Программирование для чайников», фронтенд
        отправляет запрос бэкенду. Тот находит нужные товары в базе данных и посылает их в ответ. А пользователь
        получает список книг.</p>

    <p>Например, клиент интернет-магазина должен указать свои платежные реквизиты. Для этого используются специальные
        сервисы оплаты, и их нужно «подружить» с нашим сайтом для обмена информацией. Таких сервисов может быть
        несколько. Бэкендеры подключают их и предоставляют фронтендерам способ работы с сервисами как с единым
        целым.</p>

    <h2 class="index-h">Обязанности backend-разработчика</h2>

    <p>Основная задача backend-разработчика — написание кода для бэкенда. А также бэкендеры:</p>

    <ul>
        <li><strong>Создают бизнес-логику</strong> — ядро приложения, которое решает задачи бизнеса и удовлетворяет потребности
            пользователей.
        </li>
        <li><strong>Организуют работу с базами данных</strong> — хранение данных, их чтение, быстрый доступ и резервное копирование.</li>
        <li><strong>Подключают API других приложений</strong> — уже упомянутые платежные системы, рекомендательные сервисы, системы
            аналитики.
        </li>
        <li><strong>Настраивают системы резервного копирования</strong> — чтобы уберечь сайт от потери данных.</li>
        <li><strong>Настраивают веб-серверы</strong> — обычно это облачные платформы, на которых будут размещать приложение.</li>
        <li><strong>Продумывают систему безопасности</strong> — чтобы защитить ресурс от хакерских атак.</li>
        <li><strong>Оптимизируют и масштабируют сайты</strong> — современные сайты должны грамотно расходовать ресурсы и поддаваться
            изменениям.
        </li>
    </ul>

    <h2 class="index-h">Что должен знать backend-разработчик</h2>

    <p>Набор технологий, которые должен знать бэкенд-разработчик, разнится от проекта к проекту. Но можно выделить и
        общие навыки, которые должны быть у любого бэкендера. Это умение программировать, работа с базами данных,
        понимание работы сетей, работа с системой контроля версий.</p>
    <p><i>Расскажем подробнее об общих требованиях.</i></p>

    <h3 class="index-h">Язык программирования</h3>
    <p>Backend-разработчик должен уметь писать код — это первый и базовый навык для этой профессии. Обычно бэкендеры
        владеют одним языком программирования, реже — несколькими. Самыми популярными на рынке веб-разработке считается
        Python, PHP, Java и Node.js.</p>

    <h3 class="index-h">Фреймворки и библиотеки</h3>
    <p>Программирование — творческий процесс, но для многих типовых задач веб-разработки уже есть готовые решения. Это
        фреймворки — так называемые каркасы приложений и библиотеки — куски готового кода. Такая инфраструктура есть у
        каждого языка программирования, обычно на проекте используют определенный фреймворк и необходимые библиотеки. А
        бэкендеру необходимо иметь опыт работы с ними, чтобы выполнять задачи.</p>

    <h3 class="index-h">Базы данных</h3>
    <p>В них приложения и сайты хранят основную информацию. Разные базы данных позволяют решать разные задачи. Например,
        Redis позволяет быстро обращаться к часто используемым данным. А в реляционных БД данные хранятся в
        структурированном виде, удобном для работы приложения или для аналитики.

        Большинство приложений имеют базы данных. Поэтому бэкендеру нужно уметь с ними работать. Чаще всего бэкендер
        встречается с такими базами данных, как MySQL и PostgreSQL.

        Для работы с базами данных необходимо знать SQL — структурированный язык запросов. Именно с его помощью
        приложение получает, изменяет или удаляет информацию в базе данных.</p>

    <h3 class="index-h">Работа с API</h3>
    <p>API — это интерфейс программного приложения. Или, проще говоря, способ, с помощью которого приложения могут
        запрашивать друг у друга информацию.

        Задача API — сделать доступ к данным удобным. Бэкендер может создавать API для различных клиентов. Например, для
        фронтендеров, которые делают сайт. Или для мобильных разработчиков, которые пишут мобильное приложение.

        Также бэкендер может использовать API других сервисов: доставок, карт, платежных систем.

        Для написания API используются различные принципы. Например, REST. Эти принципы накладывают правила, по которым
        создается API. Подробнее о REST можно почитать здесь.

        Чаще всего для передачи данных в API используют специальные форматы, например, JSON, XML.</p>

    <h3 class="index-h">Веб-серверы</h3>
    <p>Все сайты лежат на серверах — компьютерах с огромной памятью, в современной разработке используют облачные
        решения. То есть арендуют в собственность определенное количество памяти в дата-центрах. Для работы серверов
        используют специальное ПО. Два самых популярных из них — Apache и NGINX, на них обоих приходится больше половины
        серверов в мире. Бэкендеру нужно понимать принципы их работы.</p>

    <h3 class="index-h">Сетевые протоколы</h3>
    <p>Это набор правил, по которым устройства, подключенные в сеть, взаимодействуют друг с другом. Можно сказать, это
        азбука интернета, и каждый веб-разработчик должен понимать ее азы. Необходимо знать, из чего состоит
        клиент-серверная архитектура, как происходит передача информация по протоколам HTTP и HTTPS.</p>

    <h3 class="index-h">Система контроля версий</h3>
    <p>Они позволяют нескольким программистам одновременно работать над кодом и отслеживать все изменения с сохранением
        каждой предыдущей версии. Самая популярная из таких систем — Git.</p>


    <h3 class="index-h">Фронтенд</h3>
    <p>Хороший backend-разработчик должен понимать, как работает интерфейс сайта. Не обязательно уметь их создавать
        самостоятельно, но первичные знания — необходимы. Эти знания позволяют общаться с фронтендерами на одном языке,
        понимать их задачи. Также знания фронтенда помогают бэкендерам создавать инструменты для внутренних нужд
        компании.</p>

    <h2 class="index-h">Какие языки программирования используют в бэкенде</h2>
    <p>Одна из особенностей работы бэкендера — возможность работать на разных языках программирования и с разными
        фреймворками. Расскажем о самых популярных.</p>

    <p>Вот рейтинг языков программирования для бэкенда:</p>
    <img class="index-img" src="/static/vacancies/img/rating.png" alt="Rating" width="750">

    <h2 class="index-h">Средние зарплаты бэкенд-разработчиков</h2>
    <p>Зарплата бэкендера зависит от двух основных параметров: стека технологий (в первую очередь, языка
        программирования) и уровня квалификации. В IT есть три основные градации:</p>

    <ul>
        <li>Джун — новичок без опыта или с минимальным опытом коммерческой разработки.</li>
        <li>Мидл — специалист с 2-5 годами опыта, который может работать автономно без помощи коллег.</li>
        <li>Сеньор — опытный специалист, который выступает наставником или управляет командой из разработчиков.</li>
    </ul>
    <p>Еще на рынке выделяют отдельно тимлидов — руководителей и стажеров.</p>
    <p>Среди бэкендеров максимальной популярностью пользуются мидлы, за ними идут сеньоры и только потом джуны.</p>

    <h2 class="index-h">Медианная зарплата бэкендеров</h2>

    <h3 class="index-h">На Java:</h3>
    <ul>
        <li>95 000 рублей для джунов</li>
        <li>192 000 рублей для мидлов</li>
        <li>297 000 для сеньоров</li>
    </ul>

    <h3 class="index-h">На PHP:</h3>
    <ul>
        <li>63 000 рублей для джунов</li>
        <li>161 000 рублей для мидлов</li>
        <li>250 000 рублей для сеньоров</li>
    </ul>

    <h3 class="index-h">На Python:</h3>
    <ul>
        <li>74 000 рублей для джунов</li>
        <li>180 000 рублей для мидлов</li>
        <li>275 000 рублей для сеньоров</li>
    </ul>

    <h3 class="index-h">На Node.js:</h3>
    <ul>
        <li>151 000 рублей для мидлов</li>
        <li>270 000 рублей для сеньоров</li>
    </ul>
    <p class="authorship">Текст и изображения взяты из сайта <a href="https://ru.hexlet.io/blog/posts/backend-developer">Хекслет</a></p>
            </div>
        </main>
    </div>
{% endblock %}