{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.6.0/css/all.css">
</head>
<body>
    <header>
        <img src="{% static 'main/img/logo-svgrepo-com.svg' %}" alt="Лого">
        <h1>BlackElephant</h1>
    </header>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-3 bg-light p-3">
                <h3>Навигация</h3>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="" class="nav-link"><i class="fa-solid fa-house"></i> Главная страница</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link"><i class="fa-solid fa-chart-simple"></i> Общая статистика</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link"><i class="fa-solid fa-fire"></i> Востребованность</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link"><i class="fa-solid fa-earth-americas"></i> География</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link"><i class="fa-solid fa-kitchen-set"></i> Навыки</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link"><i class="fa-solid fa-briefcase"></i> Последние вакансии</a>
                    </li>
                </ul>
            </aside>
        </div>
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="bg-white text-gray text-center py-3">
        <p>Малышева Вероника Евгеньевна РИ-230944</p>
    </footer>
</body>