{% extends 'main/layout.html' %}

{% block title %}Навыки{% endblock %}

{% block content %}
    <div class="container mt-4">
    <h1 class="mb-4">Навыки для профессии Backend-разработчик</h1>

    <h2 class="mb-3">ТОП-20 навыков по годам</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive mb-4">
                <table class="table table-bordered table-striped">
                    <thead class="table-light">
                        <tr>
                            <th>Год</th>
                            <th>Навык</th>
                            <th>Частота</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in top_skills %}
                        <tr>
                            <td>{{ row.year }}</td>
                            <td>{{ row.skill }}</td>
                            <td>{{ row.frequency }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <canvas id="skills" class="mb-5"></canvas>
            </div>
            <canvas id="topSkillsChart" class="mb-5"></canvas>
        </div>
    </div>
</div>
{% endblock %}